        
            /* MAIN_PAGE */


                /* HEADER */

.header_content{
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 63px;
    /* margin-right: 20px; */
}

.header_content--left{
    display: flex;
    flex-direction: column;
}

.header_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #424e44;
    text-align:left;
    transform: translateX(40px);
    margin-bottom: 15px;
}

.header_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #424e44;
}

.header_text--second{
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    width: 372px;
    margin-bottom: 36px;
    margin-top: 36px;
}

.header-720{
    display: none;
}

.header_box{
    display: flex;
    align-items: center;
    gap: 27px;

}

.header_btn-buy{
    padding: 16px 30.5px; 
    width: 190px;
    height: 60px;
    text-align: center;
    gap: 10px;
}


.header_btn-more{
    padding: 17px 24.5px; 
    width: 160px;
    height: 60px;
}

.header_btn-more-text{
    color: #424E44;
}

.header_img{
    width: 641px;
    height: 592px;
}

            /* HEADER */
            
            /* SECTION ABOUT */


.section-about{
    margin-top: 100px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title-up{
    text-transform: uppercase;
}

.about_box{
    display: flex;
    /* align-items: flex-end */
}

.about_title-down{
    text-transform: uppercase;
    /* line-height: 42px; */
}

.about_box img {
    width: 445px;
    /* height: 35px; */
    margin-left: 35px;
}

.about_content{
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 70px;
    
}

.about_img{
    width: 552px;
    height: 588px;
}

.about_text{
    display: flex;
    box-sizing: border-box;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 31px 39px;
    box-shadow: 0 4px 15px 0 rgba(210, 223, 240, 0.3);
    background: #eff1e8;
    border-radius: 20px;
}

.about_text--item{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #424e44;
}

        /* SECTION ABOUT */

        /* SECTION FEATURES */

.section-features{
    margin-top: 150px;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features_title{
    opacity: 0;
    transform: translateX(40px);
}

.features_items{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 36px;
}

.features_item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 356px;
    padding: 65px 37px 84px;
    box-shadow: 0 4px 15px 0 rgba(210, 223, 240, 0.3);
    background: #eff1e8;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(40px);

}

.features_item.show{
    opacity: 1;
    transition: all .5s;
    transform: translateX(0%);

}

.features_item:hover{
    box-shadow: 0px 8px 25px rgba(133, 147, 165, 0.3);
}

.features_item-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 125.18%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.features_item-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.features_btn-buy{
    padding: 16px 50px;
}

        /* SECTION FEATURES */


            /* MAIN_PAGE ADAPTIVE */

@media (max-width: 1199.98px) {
    
    /* HEADER ADAPTIVE */
    .container{
        width: 960px;
    }

    .header_content{
        padding-top: 50px;
        gap: 35px;
    }

    .header_title{
        font-size: 50px;
        line-height: 61px;
    }
    
    .header_text {
        font-size: 20px;
        line-height: 24px;
    }

    .header_text--second{
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 30px;
        line-height: 24px;
    }

    .header_box{
        gap: 25px;
    }

    .header_btn-buy{
        padding: 11px 26px;
        width: 170px;
        height: 50px;
    }

    .header_btn-buy--text,.header_btn-more-text{
        font-size: 15px;
        line-height: 22px;
    }

    .header_btn-buy img{
        width: 22px;
    }
    
    .header_btn-more{
        padding: 12px 14.5px;
        width: 140px;
        height: 50px;   
    }

    .header_img{
        width: 550px;
        height: 507px;
    }

            /* HEADER ADAPTIVE */

            /* ABOUT ADAPTIVE */

    .section-about{
        margin-top: 150px;
    }

    .about_img{
        width: 476px;
        height: 508px;
    }

    .about_text{
        padding: 31px 25px;
    }


    /* ABOUT ADAPTIVE */

    /* FEATURES ADAPTIVE */

    .section-features {
        margin-top: 150px;
    }

    .features_items {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 70px;
        gap: 30px;
    }

    .features_item{
        padding: 47px 9px;
        width: 300px;
    }

    .features_item-title{
        font-size: 16px;
        line-height: 125.18%;
    }

    .features_item-text {
        font-size: 16px;
        line-height: 140%;
    }

    .features .header_btn{
        width: 275px;
        padding: 12px 40px;
    }
}  

@media (max-width: 991.98px) {

/* HEADER ADAPTIVE */

    .container{
        width: 720px;
    }

    .header_content{
        padding-top: 50px;
        gap: 25px;
    }

    .header_content--left {
        width: 293px;
    }

    .header_title{
        font-size: 40px;
        line-height: 61px;
        margin-bottom: 12px;
    }
    
    .header_text {
        font-size: 16px;
        line-height: 24px;
    }

    .header_text--second{
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 24px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: auto;
    }

    .header-720{
        display: block;
    }

    .header_box{
        gap: 25px;
    }

    .header_btn-buy{
        padding: 10px 15px;
        width: 140px;
        height: 45px;
    }

    .header_btn-buy--text,.header_btn-more-text{
        font-size: 14px;
        line-height: 150%;
    }

    .header_btn-buy img{
        width: 20px;
    }
    
    .header_btn-more{
        padding: 12px 17px;
        width: 125px;
        height: 45px;   
    }

    .header_img{
        width: 401px;
        height: 378px;
    }
    
/* HEADER ADAPTIVE */

/* SECTION ABOUT */

    .section-about{
        margin-top: 120px;
    }

    .about_box img {
        width: auto;
        height: 35px;
        margin-left: 35px;
    }

    .about_img{
        width: 421px;
        height: 448px;
    }

    .about_text{
        gap: 20px;
    }

    .about_content{
        flex-direction: column;
        gap: 20px;
    }

    .about_text--item{
        font-size: 15px;
        line-height: 140%;
    }

/* SECTION ABOUT */

/* SECTION FEATURES */

    .section-features {
        margin-top: 120px;
    }

    .features_items {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 30px;
        gap: 20px;
    }

    .features_item{
        padding: 50px 12.5px;
        width: 307px;
    }

    .features_item-title{
        font-size: 15px;
        line-height: 125.18%;
    }

    .features_item-text {
        font-size: 15px;
        line-height: 140%;
    }

/* SECTION FEATURES */

} 

@media (max-width: 767.98px) {

    /* HEADER ADAPTIVE */

.container{
    width: 540px;
}

.header_content{
    flex-direction: column-reverse;
    padding-top: 35px;
    gap: 0px;
}

.header_content--left {
    width: 296px;
    align-items: center;
}

.header_title{
    font-size: 40px;
    /* line-height: 61px; */
    margin-bottom: 12px;
}

.header_text {
    font-size: 16px;
    line-height: 24px;
}

.header_text--second{
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    text-align: center;
}

.header-720{
    display: block;
}

.header_box{
    gap: 25px;
}

.header_btn-buy{
    padding: 10px 15px;
    width: 140px;
    height: 45px;
}

.header_btn-buy--text,.header_btn-more-text{
    font-size: 14px;
    line-height: 150%;
}

.header_btn-buy img{
    width: 20px;
}

.header_btn-more{
    padding: 12px 17px;
    width: 125px;
    height: 45px;   
}

.header_img{
    width: 401px;
    height: 378px;
}

/* HEADER ADAPTIVE */

/* SECTION ABOUT */

.section-about{
    margin-top: 90px;
}

.about_title-up{
    font-size: 30px;
}

.about_title-down{
    font-size: 30px;
}

.about_box img {
    width: auto;
    height: 30px;
    margin-left: 25px;
}

.about_img{
    width: 350px;
    height: 373px;
}

.about_text{
    gap: 20px;
}

.about_content{
    margin-top: 25px;
    flex-direction: column;
    gap: 0;
}

.about_text--item{
    font-size: 15px;
    line-height: 140%;
}

/* SECTION ABOUT */


/* SECTION FEATURES */

.section-features {
    margin-top: 120px;
}

.features_items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 70px;
    gap: 20px;
}

.features_item{
    padding: 50px 12.5px;
    width: 307px;
}

.features_item-title{
    font-size: 15px;
    line-height: 125.18%;
}

.features_item-text {
    font-size: 15px;
    line-height: 140%;
}

/* SECTION FEATURES */


} 
            

@media (max-width: 575.98px) {
 /* HEADER ADAPTIVE */

 .container{
    width: 340px!important;
}

.header_content{
    flex-direction: column-reverse;
    padding-top: 40px;
    gap: 12px;
}

.header_content--left {
    /* width: 293px; */
    align-items: center;
}

.header_title{
    font-size: 25px;
    /* line-height: 61px; */
    margin-bottom: 12px;
    text-transform: uppercase;
}

.header_text {
    font-size: 16px;
    line-height: 24px;
}

.header_text--second{
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
    text-align: center;
}

.header-340{
    display: block;
}

.header_box{
    gap: 25px;
}

.header_btn-buy{
    padding: 10px 15px;
    width: 140px;
    height: 45px;
}

.header_btn-buy--text,.header_btn-more-text{
    font-size: 14px;
    line-height: 150%;
}

.header_btn-buy img{
    width: 20px;
}

.header_btn-more{
    padding: 12px 17px;
    width: 125px;
    height: 45px;   
}

.header_img{
    width: 302px;
    height: 285px;
}

/* HEADER ADAPTIVE */

/* SECTION ABOUT */

.section-about{
    margin-top: 60px;
}

.about_title-up{
    font-size: 25px;
}

.about_title-down{
    font-size: 25px;
}

.about_box{
    flex-direction: column;
}

.about_box img {
    width: auto;
    height: 27px;
    margin-left: 0;
}

.about_img{
    width: 300px;
    height: 320px;
}

.about_text{
    gap: 20px;
}

.about_content{
    margin-top: 35px;
    flex-direction: column;
    gap: 0;
}

.about_text--item{
    font-size: 15px;
    line-height: 140%;
}

/* SECTION ABOUT */

/* SECTION FEATURES */

.section-features {
    margin-top: 80px;
}

.features_items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 70px;
    gap: 20px;
}

.features_item{
    padding: 50px 12.5px;
    width: 307px;
}

.features_item-title{
    font-size: 15px;
    line-height: 125.18%;
}

.features_item-text {
    font-size: 15px;
    line-height: 140%;
}

/* SECTION FEATURES */


}

@media (max-width: 379.98px) {
    /* HEADER ADAPTIVE */
   
    .container{
       width: 300px!important;
   }
   
   .header_content{
       flex-direction: column-reverse;
       padding-top: 36px;
       gap: 12px;
   }
   
   .header_content--left {
       /* width: 293px; */
       align-items: center;
   }
   
   .header_title{
       font-size: 30px;
       /* line-height: 61px; */
       margin-bottom: 12px;
       text-transform: uppercase;
   }
   
   .header_text {
       font-size: 16px;
       line-height: 24px;
   }
   
   .header_text--second{
       font-size: 14px;
       margin-bottom: 30px;
       line-height: 24px;
       margin-bottom: 15px;
       margin-top: 15px;
       width: auto;
       text-align: center;
   }
   
   .header-340{
       display: block;
   }
   
   .header_box{
       gap: 25px;
   }
   
   .header_btn-buy{
       padding: 10px 15px;
       width: 140px;
       height: 45px;
   }
   
   .header_btn-buy--text,.header_btn-more-text{
       font-size: 14px;
       line-height: 150%;
   }
   
   .header_btn-buy img{
       width: 20px;
   }
   
   .header_btn-more{
       padding: 12px 17px;
       width: 125px;
       height: 45px;
   }
   
   .header_img{
       width: 290px;
       height: 283px;
   }
   
   /* HEADER ADAPTIVE */

   /* SECTION ABOUT */

.section-about{
    margin-top: 50px;
}

.about_title-up{
    font-size: 25px;
}

.about_title-down{
    font-size: 25px;
}

.about_box{
    flex-direction: column;
}

.about_box img {
    width: auto;
    height: 25px;
    margin-left: 0;
}

.about_img{
    width: 270px;
    height: 288px;
}

.about_text{
    padding: 25px 15px;
    gap: 20px;
}

.about_content{
    margin-top: 30px;
    flex-direction: column;
    gap: 0;
}

.about_text--item{
    font-size: 15px;
    line-height: 140%;
}

/* SECTION ABOUT */

/* SECTION FEATURES */

.section-features {
    margin-top: 80px;
}

.features_items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 70px;
    gap: 20px;
}

.features_item{
    padding: 30px 12.5px;
    width: 280px;
}

.features_item img{
    width: 80px;
}

.features_item-title{
    font-size: 14px;
    line-height: 125.18%;
}

.features_item-text {
    font-size: 14px;
    line-height: 140%;
}

/* SECTION FEATURES */

}